body {
    background-color: blueviolet;
}

.headerTitle,
.footer {
    font-size: 5em;
    color: white;
}

.header,
.footer {
    background-color: blueviolet;
}

.footer {
    padding-top: 100px;
}

.metroButton:hover {
    color: purple;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.mainCard:hover {
    cursor: pointer;
}

.beatButton:hover {
    color: white;
    background-color: purple;
}