body {
    background-color: blueviolet;
}

.headerTitle, .footer {
    font-size: 5em;
    color: white;
}

.header, .footer {
    background-color: blueviolet;
}

.footer {
    padding-top: 100px;
}